<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
        <!-- # only can be in template, not for ts file. -->
        <input type="text" class="form-control" #newServerName>
        <label>Server Contents</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
        <!-- if we use ViewChild, the value can be access before clicking the button. -->
        <input type="text" class="form-control" #newServerContent>
        <br>
        <!-- if we pass reference, the value can be only access when clicking the button. -->
        <button class="btn btn-primary" (click)="onAddServer(newServerName)">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint(newServerName)">Add Server Blueprint</button>
    </div>
</div>